
client
nobind
dev tun
remote-cert-tls server

remote {{ vpn_endpoint }} 1194 udp

<key>
{{ client_private_key }}
</key>
<cert>
{{ client_certificate }}
</cert>
<ca>
{{ server_ca }}
</ca>
key-direction 1
<tls-auth>
#
# 2048 bit OpenVPN static key
#
{{ openvpn_static_key }}
</tls-auth>

redirect-gateway def1
